.button {
  border: none;
  background-color: var(--primary-background-color);
  color: #ffffff;
  font-size: 32px;
  font-weight: 300;
  padding: 10px 40px;
  box-shadow: 0 0 7px 3px #C9C4BB;
  transition: opacity ease-in-out .3s;
  &:hover {
    opacity: .8;
  }
  @media (max-width: 980px) {
    width: 140px;
    height: 40px;
    font-size: 20px;
    padding: 5px 20px;
  }
}